* {
    box-sizing: border-box
}

body {
    font-family: "Lato",sans-serif;
    color: #384047
}

#container {
    max-width: 500px;
    margin: auto
}

.header-content,h1 {
    margin: 30px 0;
    padding: 0 20px;
    text-align: center
}

h1 {
    background-color: #280f6d;
    color: #f0f1f3;
    margin: 0;
    padding: 20px 10px;
    text-transform: uppercase
}

footer,h1,h2 {
    font-style: italic
}

h2 {
    font-weight: 700;
    font-size: x-large
}

hr {
    border: 3px solid #000;
    width: 90%
}

.hr2,.hr3 {
    border: 1px solid #000;
    width: 90%;
    margin-bottom: 10px
}

fieldset {
    border-style: none
}

legend.contact-info,legend.newsletter-heading {
    font-weight: 700;
    font-size: large;
    font-style: italic;
    padding: 10px 0
}

#button,.bgc {
    padding: 15px;
    border: 0
}

.bgc {
    background: silver;
    font-weight: 300;
    width: 100%;
    height: auto;
    outline: 0;
    margin: 10px 0 1.2em;
    border-radius: .3em;
    box-shadow: 2px 2px rgba(0,0,0,.03) inset
}

fieldset label {
    margin-bottom: 20px
}

.zc {
    display: flex;
    flex-direction: column
}

input#zip-code {
    width: 50%;
    margin-top: 0
}

.newsletter-container {
    line-height: 1.5em;
    background: #fff8dc
}

.check,.radio {
    padding: 10px 0
}

p,textarea {
    margin-top: 10px
}

p {
    margin-bottom: 0
}

textarea {
    width: fit-content
}

input[type=submit] {
    cursor: pointer
}

#button {
    background: #b9b9ee;
    font-weight: 500;
    margin: 1em;
    border-radius: .5em;
    width: 90%
}

footer {
    text-align: center
}

.bgc,input,select,textarea {
    border-bottom: 3px solid transparent
}

.bgc:focus,input:focus,select:focus,textarea:focus {
    background-color: #f0f8ff;
    border-bottom: 3px solid rgba(0,0,0,.05);
    border-color: #639;
    transition: 2s
}

@media screen and (min-width:768px) {
    div#container {
        max-width: 600px
    }

    .user-contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center
    }

    label {
        margin-right: 20px
    }

    label[for*=city] {
        margin-right: 140px
    }

    label[for*=state] {
        margin-right: 130px
    }

    .bgc {
        max-width: 70%
    }

    h1 {
        padding: 10px;
        font-size: 1.5em
    }

    hr.hr3,textarea#topics.bgc {
        min-width: 100%
    }

    div.zc {
        flex-direction: row;
        align-items: center
    }

    label[for*=zip-code] {
        margin-right: 110px
    }

    input#zip-code {
        width: 25%
    }
}
